name: Continuous Integration

on:
  # We have deploy there
  # push:
  #  branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
        
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: "true"
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build in the dev container image
        uses: devcontainers/ci@v0.3
        with:
            imageName: ghcr.io/oleg-nenashev/oleg-nenashev-site-builder
            cacheFrom: ghcr.io/oleg-nenashev/oleg-nenashev-site-builder
            push: never
            runCmd: |
              pip install git+https://${PIP_TOKEN}@github.com/oleg-nenashev/mkdocs-material-insiders.git@9.5.27-insiders-4.53.11
              mkdocs build
            env: |
              PIP_TOKEN=${{ secrets.MKDOCS_MATERIAL_GITHUB_TOKEN }}
              FULL_BUILD=true
              INSIDERS=true

      - name: Lint the static site
        uses: anishathalye/proof-html@v2.2.1
        with:
          directory: ./_site
          enforce_https: true
          check_favicon: true
          check_opengraph: true
          tokens: |
            {"https://github.com": "${{ secrets.GITHUB_TOKEN }}"}
          ignore_url: |
             https://fonts.gstatic.com
             https://www.linkedin.com/in/onenashev/

